@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --body-bg: linear-gradient(
    100.61deg,
    rgba(253, 240, 233, 0.25) 1.4%,
    rgba(237, 105, 35, 0.125) 116.17%
  );
  --orange1st: #ed6923;
  --blackt: #333333;
  --alerts: #f4c700;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--body-bg);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
