@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --body-bg: linear-gradient(
    100.61deg,
    rgba(253, 240, 233, 0.25) 1.4%,
    rgba(237, 105, 35, 0.125) 116.17%
  );
  --orange1st: #ed6923;
  --blackt: #333333;
  --alerts: #f4c700;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--body-bg);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

.custom-carousel-dots {
  margin-top: 2rem;
  display: flex !important;
  justify-content: center;
}

.custom-carousel-dots li {
  width: 12px;
  height: 12px;
  border: 2px solid #FF6B00;
  border-radius: 50%;
  opacity: 0.5;
  margin: 0 4px;
  transition: all 0.3s ease;
}

.custom-carousel-dots li button {
  display: none;
}

.custom-carousel-dots li.slick-active {
  background-color: #FF6B00;
  opacity: 1;
}
